.Basket {
  height: calc(100vh - 160px);
  overflow: hidden;

  .infoWrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .dateOrder,
  .nameOrder {
    display: block;
    text-align: center;
  }

  .wrapperProducts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: calc(100vh - 290px);
    margin-top: 30px;
    overflow-y: auto;
  }

  .title {
    text-align: center;
  }
}

.wrapperLink {
  position: fixed;
  bottom: 10px;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.wrapperSliderPhotoProduct {
  width: 100%;
  display: flex;
  justify-content: center;
}
.warning {
  text-align: center;
  color: #ec2e1a;
  background: #ebf4f9f0;
  border-radius: 30px;
  padding: 10px;
  display: inline-block;
}
