@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.BtnIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  padding: 4px;
  background-color: $Orange;
  border-radius: 30px;
  cursor: pointer;

  .wrapperIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: $MainWhite;
    color: $Orange;
  }
}
