@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';
@import '@/styles/normalize.scss';
@import '@/styles/reset.scss';

body {
  padding: 30px;
  font-family: var(--font-inter);
  font-weight: 500;
  letter-spacing: -0.022em;
  color: $MainBlack;
  min-height: 100vh;
  background-color: $Sky;
}

h1 {
  @include H1_1920;
}
h2 {
  @include H2_1920;
}
h3 {
  @include H3_1920;
}
h4 {
  @include H4_1920;
}

.MuiFormControl-root {
  &.MuiTelInput-TextField {
    border: none;
    outline: none;
    width: 100%;
  }
  &.MuiTelInput-TextField > div {
    background-color: $MainWhite;
    border-radius: 100px;
    border: none;
    outline: none;
  }
  .MuiTelInput-IconButton {
    padding-right: 24px !important;
  }

  .MuiInputAdornment-root {
    display: none;
  }

  .MuiInputBase-input {
    height: 44px;
    padding: 0;
    color: $TextInput;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }

  .MuiOutlinedInput-notchedOutline {
    border: none;
    border-color: none;
  }
}
