// Color
$DeepGreen: #314232;
$MilkyWay: #fff2d7;
$MoscowRed: #c13437;
$YellowSun: #ffd071;
$Orange: #f4b45c;
$MainWhite: #fff;
$Sky: #ebf4f9;
$MainBlack: #2f2e2e;
$Blue: #b0ddf8;
$TextInput: rgba(47, 46, 46, 0.7);
$StrokeInput: rgba(104, 106, 107, 1);
