.wrapperButtonSetting {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 20px;

  .startMonitoring,
  .startCleaner {
    background-color: #fff;
    padding: 0px 10px;
    height: 40px;
    border: 1px solid #dadada;
    border-radius: 5px;
    cursor: pointer;

    &:disabled {
      background-color: grey;
    }
  }
}
