@import '@/styles/variables.scss';
.PreviewPhoto {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  overflow: hidden;
}

.wrapperBox {
  position: relative;
  width: 90%;
  height: calc(100vh - 40px);
}

.closeIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.wrapperClose {
  position: absolute;
  z-index: 10000;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: $MainWhite;
  cursor: pointer;
}

.slider {
  width: 100%;
  height: calc(100vh - 40px);
  overflow: hidden;
}

.sliderItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: calc(100vh - 40px);
}

.image {
  object-fit: cover;
  width: 90%;
  height: calc(100vh - 40px);
}

.wrapperArrow {
  position: absolute;
  z-index: 10000;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: $MainWhite;
  border-radius: 50px;
  cursor: pointer;
}

.arrowPrev {
  left: 20px;
}

.arrowNext {
  right: 20px;
}
