.SlidePreview {
  position: relative;
  width: 100%;
  height: calc(100vh - 40px);
  background-color: #d9d9d9;

  & .image {
    object-fit: contain;
    top: 40px;
  }
}
.wrapperBtn {
  position: absolute;
  z-index: 10000;
  bottom: 20px;
  right: 20px;
}

.photoName {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

.sliderItem {
  position: relative;
  height: calc(100% - 80px);
  width: 100%;
}
