.SlidePreview {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 40px);
  background-color: #d9d9d9;

  & .image {
    object-fit: contain;
  }
}
.wrapperBtn {
  position: absolute;
  z-index: 10000;
  bottom: 20px;
  right: 20px;
}

.photoName {
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.sliderItem {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}

.load {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
