.SlideTypeProduct {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 200px;

  & .image {
    object-fit: contain;
  }
}

.photoName {
  position: absolute;
  bottom: 1px;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 13px;
  overflow-wrap: break-word;
}

.sliderItem {
  position: relative;
  height: calc(100% - 15px);
  width: 300px;
  display: flex;
  justify-content: space-between;
}
