@import '@/styles/variables.scss';

.FormTypeProduct {
  margin-top: 20px;
  .wrapperTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    & span {
      width: 70px;
      font-size: 13px;
      text-align: center;
    }
  }
  .title {
    font-weight: 600;
  }

  .checkboxes {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .btnLink {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
