@import '@/styles/variables.scss';
.OrdersFoundList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: calc(100vh - 280px);
  overflow-y: scroll;

  .wrapperDate {
    width: 444px;
  }
  .date {
    display: block;
    color: $TextInput;
  }
  .listOrders {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }
  .wrapperOrder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $MainBlack;

    cursor: pointer;
  }
}
